.nav-section {
    max-width: 1150px;
    
    margin: 32px 0 70px;     
}
.nav {
    display: inline;
    float: right;      
}
.nav__link {
    margin-right: 60px;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;      
}
.nav__link:nth-child(4) {
    margin: 0;
}
.nav__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.5)
}