.section-tworooms {
    width: 100%;
}
.tworooms {
    position: relative;
    height: 717px;
    background-image: url('../resources/pic-5.png');
    background-size: cover;
   background-position: 50%;
}
.tworooms-img-text  {
    position: absolute;
    left: 125px;
    bottom: 60px;
    width: 443px;
    margin: 0;
}
